/* SplashScreen.css */
.splash-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #111; /* لون الخلفية الغامق */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.splash-logo {
  width: 150px; /* حجم اللوجو */
  height: auto;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
