.navbar {
  display: flex;
  justify-content: space-between; /* توزيع العناصر بشكل متساوٍ */
  align-items: center;
  background-color: #fff;
  padding: 10px 20px; /* زيادة التباعد */
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.nav-link {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  flex: 1; /* توزيع العناصر بالتساوي */
  text-align: center;
}

.nav-link i {
  font-size: 20px; /* تحسين حجم الأيقونات */
  margin-bottom: 5px;
}

.nav-link.active {
  color: #000;
}
